// Import Bootstrap config first
@import 'bootstrap/config';
// Import all Bootstrap_ext here
@import 'bootstrap_ext/button';
// here go's the rest
@import 'custom/variables';
@import 'custom/mixins';
// fonts
@import 'fontawesome/scss/fontawesome';
@import 'fontawesome/scss/fa-solid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');

a {
    color: $text-link-primary;
    &:hover {
        text-decoration: none;
        color: $text-link-primary-hover;
        transition: 0.6s;
    }
}

.search-form {
    border-radius: 2px;
    padding: 8px 10px;
    margin: 0;
    color: #777;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-appearance: none;
    vertical-align: baseline;
}

.sidebar {
    box-shadow: 0px $shadow-size $shadow-blur $shadow-color;
    overflow: hidden;

    @media (max-width: $break-size) {
        width: 100%;
    }

    @media (min-width: $break-size) {
        width: 22%;
        min-width: 220px;
        height: 100%;
        position: fixed;
    }

    .sidebar-header {
        @include padding(
            $small-padding $outer-padding
            $small-padding $outer-padding);
        background-color: rgba($background-secondary, 0.95);
        padding-top: $small-padding;
        padding-bottom: $small-padding;
    }

    .sidebar-content {
        @include padding();
        background: $background-secondary;
        height: 100%;
        
        @include headings {
            color: $text-secondary;
            font-weight: 600;
            a {
                color: $text-secondary;
            }
        }
    
        h1 {
            font-weight: bold;
        }
    
        p {
            color: $text-secondary;
    
            a {
                color: $text-link-secondary;
                &:hover {
                    color: $text-link-hover-secondary;
                }
            }
        }
    }
    
    .sidebar-title {
        text-transform: uppercase;
        line-height: 1;
        hyphens: auto;
        word-wrap: break-word;
        margin-bottom: $outer-padding;
    }
    
    .img-title {
        display: block;

        @media (max-width: $break-size) {
            display: none;
        }
    }

    .img-content {
        overflow: hidden;
        display: block;

        @media (max-width: $break-size) {
            display: flex;
            height: 4.688em;
        }

        @media (min-width: $break-size) and (max-height: $break-size)
        {
            display: flex;
        }
    }

    .profile {
        align-self: flex-start;
        margin-right: $regular-padding;

        img {
            object-fit: cover;
            max-height: 60vh;
            max-width: 100%;
    
            @media (max-width: $break-size) {
                max-width: 6.250em;
            }
        }
    }
}

.page-content {
    @include padding($outer-padding,
        $outer-padding 6% 4% 30%);

    p {
        font-size: $font-size-lg;
    }

    .title {
        margin-top: $small-padding;
        margin-bottom: $regular-padding;
        font-size: $title-size-lg-screen;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -1px;

        @media (max-width: 768px) {
            font-size: $title-size-sm-screen;
        }
    }

    .alternate-title {
        margin-top: $small-padding;
        margin-bottom: $regular-padding;
    
        h2 {
            font-size: $recent-posts-title-size;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $break-size) {
            display: block;
        }

        .article-preview {
            margin-bottom: $xl-padding;
            padding-right: $xl-padding;
            width: 50%;

            @media (max-width: $break-size) {
                margin-right: 0;
                width: 100%;
            }

            .article-title {
                margin: 0px;
                margin-bottom: $regular-padding;
                padding: 0px;
                font-weight: bold;
                font-size: $article-preview-title-size;
                line-height: 1.1;

                a {
                    color: inherit;
                    &:hover {
                        color: $text-link-primary;
                    }
                }
            }

            .article-preview-content {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
}

.comments-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .comment-meta {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .media {
    border-left: 1px dotted #000;
    border-bottom: 1px dotted #000;
    margin-bottom: 5px;
    padding-left: 10px;
}

.post-comments .media-heading {
    font-size: 12px;
    color: grey;
}

.post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}

.metadata {
    font-size: $font-size-sm !important;
    color: $gray-500;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    
    .date {
        text-transform: uppercase;
    }

    .by {
        font-style: italic;
    }

    .author {
        text-transform: uppercase;
    }

    a {
        color: inherit;
        &:hover {
            color: $text-link-primary;
        }
    }
}

.read-more {
    display: block;
}

.article-reading-content {
    max-width: $max-line-width;
}

.article-tags {
    @media (max-width: $break-size) {
        margin-bottom: $inner-padding;
        width: 100%;
    }

    .tag-list {
        margin: 0;
        color: $gray-600;
        font-size: $font-size-sm;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 0;
        padding-left: 0;

        .category {
            display: inline-block;
            margin-bottom: $regular-padding;
            margin-right: $inner-padding;
            padding-left: $regular-padding;
            position: relative;

            &:before {
                @include solid-icons;
                content: fa-content($fa-var-list-ul);
                left: 0;
                position: absolute;
                line-height: 0;
            }
        }

        ul {
            -webkit-margin-before: 0;
        }

        a {
            color: $gray-600;
            &:hover {
                color: $text-link-primary;
            }
        }
    }
}

.large-space {
    padding-top: $xl-padding;
}

.article-navigation {
    display: inline-block;
    border-top: solid 3px $gray-300;
    width: 100%;
    overflow: hidden;
    font-size: 26px;
    line-height: 1.2;

    @media (max-width: $break-size) {
        border-top: solid 2px $gray-300;
    }

    a {
        color: $text-primary;
        
        &:hover {
            color: $text-link-primary;
        }
    }

    .previous {
        float: left;
        text-align: left;
        width: 50%;
        // padding-right: $outer-padding;
    }

    .next {
        float: right;
        text-align: right;
        width: 50%;
        // padding-left: $outer-padding;
    }

    .metadata {
        text-transform: uppercase;
        font-size: $font-size-sm;
    }
}

.user-page {
    .user-data {
        .username {
            margin-bottom: 0;
        }

        .user-stats {
            display: flex;
            justify-content: space-around;

            span {
                font-size: $font-size-sm;
                margin-right: 15px;
            }
        }
    }

    .article-header {
        margin-bottom: 35px;
    }

    .article-preview {
        width: 75%;
        margin: 0 auto 15px auto;
        background-color: #F3F3F3;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 $shadow-size $shadow-blur $shadow-color;
        transition: .2s;

        .metadata {
            font-size: $font-size-sm !important;
            color: $gray-500;
            margin: 0px;
            padding: 0px;
            letter-spacing: 1px;

            .date {
                text-transform: uppercase;
            }
        }

        .article-title {
            margin: 0px;
            margin-bottom: $regular-padding;
            padding: 0px;
            font-weight: bold;
            font-size: $article-preview-title-size;
            line-height: 1.1;

            a {
                color: inherit;

                &:hover {
                    color: $text-link-primary;
                }
            }
        }

        .article-preview-content {
            p {
                margin-bottom: 0;
            }
        }

        &:hover {
            box-shadow: 0 $hover-shadow-size $hover-shadow-blur $shadow-color;
        }
    }

    .point-graph {
        dl {
            display: flex;
            flex-direction: column;
            width: 80%;
            position: relative;
            padding: 20px;
            background-color: $background-primary;
        }

        dt {
            align-self: flex-start;
            width: 100%;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 1.2em;
            font-weight: 700;
            margin-bottom: 20px;
            margin-left: 130px;
        }

        .graph-label {
            display: flex;
            justify-content: flex-end;
            font-weight: 600;
            align-items: center;
            height: 40px;
            width: 130px;
            background-color: $background-primary;
            position: absolute;
            left: 0;
        }

        .graph-bar {
            font-size: .8em;
            line-height: 1;
            text-transform: uppercase;
            width: 100%;
            height: 40px;
            margin-left: 130px;
            background: repeating-linear-gradient( to right, #ddd, #ddd 1px, #fff 1px, #fff 5% );

            &:after {
                content: "";
                display: block;
                background-color: #3d9970;
                width: 50px;
                margin-bottom: 10px;
                height: 90%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition: background-color .3s ease;
            }
        }

        @for $i from 0 through 100 {
            .percentage-#{$i}:after {
                $value: ($i * 1%);
                width: $value;
            }
        }
    }
}
