@page "{id:int}"
@model Web.Pages.UserModel
@{
    ViewData["Title"] = Model.User.Username;
    var user = Model.User;
}

<div class="user-data">
    <h3 class="username">@user.Username</h3>
    @if (user.DeletedAt != null)
    {
        <p class="deleted-at">Deleted Date: @user.DeletedAt</p>
    }
    <p class="created-date">Join Date: @user.CreationDateTime</p>
</div>
